body {
  background-color: #ddd;
  font-size: 1em;
  font-family: Source Sans Pro,sans-serif;
}

h1 {
  font-size: 1.6em;
  margin: 20px 0;
}
h2 {
  font-size: 1.4em;
}

.vonage-media-processor-demo {
  padding: 20px 30px;
}

#screen {
  height: 480px;
  width: 640px;
}

#publisher {
  height: 480px;
  width: 640px;
}

#publisher.streamer-mode {
  position: absolute;
  top: 45%;
  left: 0;
  height: 220px !important;
  width: 300px !important;
  z-index: 2;
}

#sessionStatus {
  margin-bottom: 5px;
}

#transformTypeWrapper {
  margin-top: 20px;
}

#screenShareWrapper {
  margin-top: 10px;
}

#transformType {
  margin-right: 20px;
}

button {
  border-radius: 6px;
  background: black;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9em;
  padding: 8px 14px;
  transition: all .3s;
  cursor: pointer;
  height: 40px;
  border: none;
  margin-right: 10px;
}
button:hover {
  background: #43474b
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.purple-btn { background: rgb(124, 40, 241); }
.purple-btn:hover { background: rgb(103, 33, 200); }

.pink-btn { background: rgb(181, 51, 140); }
.pink-btn:hover { background: rgb(134, 37, 103);}

a {
  color: #fff !important;
  text-decoration: none;
}

.hidden { display: none; }


.OT_widget-container {
  background: none !important;
  background-color: transparent !important;
}